body{
	text-align:center;
	background-image:url(http://franny1615.github.io/Penguino_Quiz/bg.jpg);
	background-color:lightblue;
	background-repeat:no-repeat;
	background-size:100%;
}

h1{
	font-family:Impact;
	text-align:center;
	font-size:48px;
}

img{
	border:1px solid black;
	width:350px;
	height:300px;
}

.questionTable{
	margin-left:auto;
	margin-right:auto;
}

#q2,#q3,#q4,#q4,#q5,#q6{
	display:none;
}

.answer1,.answer2{
	display:none;
}