<!DOCTYPE html>
<html>
	<head>
		<title>Aquatic Animal Quiz</title>
		<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/penguinoStyle.css')}}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="answers.js"></script>
	</head>
	<body>
		<h1><u>Aquatic Animal Quiz</u></h1>
		<table class="questionTable">
			<tr id="q1">
				<td>
					<p>Question #1: Are these Emperor Penguins?</p>
					<img src="{{url_for('static',filename='img/EP.jpg')}}" alt="A Penguino!">
					<br>
					<input type="radio" name="q1" value="yes" class="y">Yes</input>
					<input type="radio" name="q1" value="yes" class="n">No</input>
					<p class="answer1">Correct</p>
					<p class="answer2">Incorrect</p>
					<br>
					<button type="button" class="nextBtn">Next Question</button>
				</td>
			</tr>
			<tr id="q2">
				<td>
					<p>Question #2:What type of whale is this?</p>
					<img src="{{url_for('static',filename='img/whaleS.jpg')}}" alt="A Penguino!">
					<br>
					<input type="radio" name="q2" value="Whale Shark" class="y">Whale Shark.</input>
					<input type="radio" name="q2" value="Whale Shark" class="n">Humpback Whale</input>
					<input type="radio" name="q2" value="Whale Shark" class="n">Dolphin</input>
					<input type="radio" name="q2" value="Whale Shark" class="n">Orca</input>
					<p class="answer1">Correct</p>
					<p class="answer2">Incorrect</p>
					<br>
					<button type="button" class="nextBtn">Next Question</button>
				</td>
			</tr>
			<tr id="q3">
				<td>
					<p>Question #3:What type of fish is this?</p>
					<img src="{{url_for('static',filename='img/tuna.jpg')}}" alt="a tuna">
					<br>
					<input type="radio" name="q3" value="Tuna" class="n">Bass</input>
					<input type="radio" name="q3" value="Tuna" class="y">Tuna</input>
					<input type="radio" name="q3" value="Tuna" class="n">Trout</input>
					<input type="radio" name="q3" value="Tuna" class="n">Goldfish</input>
					<p class="answer1">Correct</p>
					<p class="answer2">Incorrect</p>
					<br>
					<button type="button" class="nextBtn">Next Question</button>
				</td>
			</tr>
			<tr id="q4">
				<td>
					<p>Question #4:What type of shark is this?</p>
					<img src="{{url_for('static',filename='img/gwhite.jpg')}}" alt="a white shark">
					<br>
					<input type="radio" name="q4" value="Great White" class="y">Great White</input>
					<input type="radio" name="q4" value="Great White" class="n">Hammerhead</input>
					<input type="radio" name="q4" value="Great White" class="n">Whale Shark</input>
					<input type="radio" name="q4" value="Great White" class="n">Orca</input>
					<p class="answer1">Correct</p>
					<p class="answer2">Incorrect</p>
					<br>
					<button type="button" class="nextBtn">Next Question</button>
				</td>
			</tr>
			<tr id="q5">
				<td>
					<p>Question #5:Is this a Goldfish?</p>
					<img src="{{url_for('static',filename='img/goldfish.jpg')}}" alt="a goldfish">
					<br>
					<input type="radio" name="q5" value="yes" class="n">NO!</input>
					<input type="radio" name="q5" value="yes" class="y">Yes.</input>
					<p class="answer1">Correct</p>
					<p class="answer2">Incorrect</p>
					<br>
					<button type="button" class="nextBtn">Finish Quiz</button>
				</td>
			</tr>
			<tr id="q6">
				<td>
					<p>You now know more about Aquatic Life.</p>
					<p>Congrats on completing quiz</p>
				</td>
			</tr>
		</table>
	</body>
</html>
