{% extends "layout.html" %}
{% block content %}
  <h1><b>Debrief</b></h1>
  <p>
    {% if 'q1' in session %} 
      <b>Your Answer:</b> {{ session['q1'] }}<br>
      <b>Correct Answer:</b> yes<br><br>
    {% endif %}
    {% if 'q2' in session %} 
      <b>Your Answer:</b> {{ session['q2'] }}<br>
      <b>Correct Answer:</b> whale shark<br><br>
    {% endif %}
    {% if 'q3' in session %} 
      <b>Your Answer:</b> {{ session['q3'] }}<br>
      <b>Correct Answer:</b> tuna<br><br>
    {% endif %}
    {% if 'q4' in session %} 
     <b>Your Answer:</b> {{ session['q4'] }}<br>
     <b>Correct Answer:</b> great white<br><br>
    {% endif %}
    {% if 'q5' in session %} 
     <b>Your Answer:</b> {{ session['q5'] }}<br>
     <b>Correct Answer:</b> yes<br><br>
    {% endif %}
    {% if 'score' in session %} 
     <b>Score: </b> {{ session['score'] }}<br>
     <b>Personal Best: </b> {{ highest }} <br>
    {% endif %}
  </p>
  <a href="/startOver">Start over</a>
{% endblock %}
