{% extends "layout.html" %}
{% block content %}
  <p>
    {% if 'q1' in session %} 
     Your Answer: {{ session['q1'] }}<br>
     Correct Answer: YES<br>
    {% endif %}
    {% if 'q2' in session %} 
     Your Answer: {{ session['q2'] }}<br>
     Correct Answer: WHALE SHARK<br>
    {% endif %}
    {% if 'q3' in session %} 
    Your Answer: {{ session['q3'] }}<br>
     Correct Answer: TUNA<br>
    {% endif %}
    {% if 'q4' in session %} 
     Your Answer: {{ session['q4'] }}<br>
     Correct Answer: GREAT WHITE SHARK<br>
    {% endif %}
    {% if 'q5' in session %} 
     Your Answer: {{ session['q5'] }}<br>
     Correct Answer: YES<br>
    {% endif %}
  </p>
{% endblock %}
